statistics-card{
.statisticCard{
width: 100%;
padding: 10px;
.insideStatisticsCard{
width: 100%;
padding: 10px;
box-shadow: 0px 5px 12px 0px $gray;
background-color: rgb(240,240,240);
border-radius: 15px;
}
}
}
