<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="navbarComponent.isNavCollapsed = !navbarComponent.isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="navbarComponent.isNavCollapsed">
    <a class="navbar-brand hidden-xs col-sm-1" href="/"><img class="navbar-brand navbar-logo col-xs-12" src="../../assets/images/LOGO.svg"/></a>
    <div class="nav-uls">
      <ul class="nav navbar-nav navbar-left align-middle">
        <li ng-show="navbarComponent.isStudent() && !navbarComponent.isTeacher()"><a href="/student">Student</a></li>
        <li ng-show="navbarComponent.isTeacher()"><a href="/teacher">Teacher</a></li>
        <li ng-show="navbarComponent.isAdmin()"><a href="/admin">Admin</a></li>
        <li ng-show="navbarComponent.isStudent()"|| ng-show = "navbarComponent.isTeacher()" || ng-show = "navbarComponent.isAdmin()"><a href="/student/course">Discovery</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="navbarComponent.isLoggedIn()"><a href="/signup">Sign up</a></li>
        <li ng-hide="navbarComponent.isLoggedIn()"><a href="/login">Login</a></li>

        <li ng-show="navbarComponent.isLoggedIn()"><a href="/logout">Logout</a></li>
        <li ng-show="navbarComponent.isLoggedIn()"><a href="/settings"><span class="fa fa-cog"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
