 /*----------------------COLORS-------------------------|
| The color variables that should be used in order to   |
| maintain consistent colors through all style sheets   |
|-----------------------------------------------------*/


/*   GRAYSCALE   */
$black:                 #3D3D3D;
$dark-gray:             #6E6E6E;
$gray:                  #9E9E9E;
$light-gray:            #B6B6B6;
$lightest-gray:         #D6D6D6;
$off-white:             #F4F4F4;
$white:                 #FFFFFF;


/*   BLUES   */
$blue:                  #1A94D9;
$light-blue:            #53AFE2;
$lightest-blue:         #8CC9EC;


/*   ORANGES   */
$dark-orange:           #E28D17;
$orange:                #E9992A;
$light-orange:          #EEB35F;
$lightest-orange:       #F4CC94;
