teacher{

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: calc(30px+10vw);
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #8B2332;
}


.teacher-container{
  background-color: $white;

  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

button{
margin-top: 15px;
}
}
}
