teacher-course-card{
.teacherCourseCard{
  .infoButton {
    align-self: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: center;

  }
}
.card {
border-style: hidden;
}
}

